body {
    background-color:	#FFE338;
    text-align: center;
}
#kl {
    width: 400px;
}
img {
    transition: transform .2s;
    border: 10px solid #AAAA;
}
img:hover {
transform: scale(0.9);
}
#dl {
    width:324px;
}
#wl {
    width: 450px;
}
#ol {
    width: 400px;
}